{% extends "base.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
<h2>Your Cart</h2>

{% if cart %}
<table class="table">
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Total</th>
    <th>Action</th>
  </tr>

  {% set grand_total = 0 %}
  {% for pid, item in cart.items() %}
    {% set total = item.price * item.quantity %}
    {% set grand_total = grand_total + total %}
    <tr>
      <td>{{ item.name }}</td>
      <td>₹ {{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>₹ {{ total }}</td>
      <td>
        <script src="{{ url_for('static', filename='js/cart.js') }}"></script>

<button onclick="updateQty('{{ pid }}', 1)">+</button>
<button onclick="updateQty('{{ pid }}', -1)">−</button>

<button onclick="removeItem('{{ pid }}')"
        class="btn btn-danger btn-sm">
  Remove
</button>

      </td>
    </tr>
  {% endfor %}
</table>

<h4>Grand Total: ₹ {{ grand_total }}</h4>

{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}
